<!DOCTYPE html>
<html id="main_page">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Sistema de Estoque</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel='stylesheet' type='text/css' media='screen' href={{
    url_for('static', filename='css/login.css') }}>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
  </head>
  <body class="main_body">
    <div class="login_frame">
      <div class="login_form">
        <div class="login_header">
          <h1>Login</h1>
        </div>

        <form hx-post="/verify_login" hx-target="this" hx-swap="outerHTML">
          <div hx-get="/username_field" hx-trigger="load" hx-target="this" hx-swap="outerHTML"></div>

          <div hx-get="/password_field" hx-trigger="load" hx-target="this" hx-swap="outerHTML"></div>

          <div class="login_submit">
            <input type="submit" class="submit_button" value="Entrar"/>
          </div>
        </form>

        <div class="bottom_form_text">
        Não possui uma conta?
        <a
          href=""
          hx-get="/register"
          hx-trigger="click"
          hx-swap="outerHTML"
          hx-target=".login_frame"
          >Registre-se agora!</a
        >
        </div>
      </div>
    </div>
  </body>
</html>
