<!DOCTYPE html>
<html id="main_page">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Sistema de Estoque</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel='stylesheet' type='text/css' media='screen' href={{
    url_for('static', filename='css/login.css') }}>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
  </head>
  <body class="main_body">
    <div class="login_frame">
      <div class="login_form">
        <div class="login_header">
          <h1>Registro</h1>
        </div>

        <form>
          <div class="login_field">
            <input
              type="text"
              class="text_input"
              placeholder="nome de usuário"
            />
          </div>

          <div class="password_field">
            <input type="password" class="password_input" placeholder="senha" />
          </div>

          <div class="login_submit">
            <input type="submit" class="submit_button" value="Registrar" />
          </div>
        </form>

        <div class="bottom_form_text">
        Já possui uma conta?  
        <a
          href=""
          hx-get="/login"
          hx-trigger="click"
          hx-swap="outerHTML"
          hx-target=".main_body"
          >Faça login.</a
        >
        </div>
      </div>
    </div>
  </body>
</html>
