<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Sistema de Estoque</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href={{ url_for('static', filename='css/main.css') }}>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
</head>
<body id="main_body">
    <h1>hoje é {{ day }}</h1>
    <div hx-get="/verify_login" hx-swap="outerHTML" hx-trigger="load delay:1000" hx-target="#main_body" >olha so</div>
</body>
</html>